<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
    backupStaticAttributes="false"
    cacheTokens="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    backupGlobals="false"
    bootstrap="./vendor/autoload.php"
    strict="true"
    verbose="true">

		<filter>
				<whitelist>
						<directory>./App</directory>
						<exclude>
								<directory>./public</directory>
								<directory>./vendor</directory>
								<directory>./tests</directory>
								<directory>./App/Views</directory>
								<directory>./docs</directory>
								<directory>./mysql</directory>
								<directory>./Test</directory>
								<directory>./App/Views</directory>
								<directory>./App/Controllers</directory>
								<directory>./App/DAO</directory>
								<directory>./App/Lib</directory>
								<directory>./mysql</directory>
								<file>./App/App.php</file>
						</exclude>
				</whitelist>
		</filter>

    <testsuites>
        <testsuite name="Teste das entidades">
						<directory suffix=".php">./tests/unidade/entidades</directory>
        </testsuite>

				<testsuite name="Teste da validacao">
						<directory suffix=".php">./tests/unidade/validacao</directory>
				</testsuite>
    </testsuites>
</phpunit>
