/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .wrapper {
    padding: 40px 15px 40px;
}

body .navbar {
	z-index: 1;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.buscaDireita{
		display: inline-block;
    width: fit-content;
}

.linhaDesativado{
    color:red;
}

.cenralizado{
    text-align: center;
}

.jumbotron-home {
	padding: 2rem 1rem;
	background-color: #FFFFFF;
}

.col-login {
	height: 77vh;
}

.col-login > h3 {
	margin-top: 12vh;
}

#navbar .dropdown-menu .dropdown-item {
	padding: 10px 45px 10px 15px !important;
}

.table-responsive {
	min-height: 298.5px;
}
